@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 2em;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
}

@keyframes show {
  0% {
    transform: translateY(-200px);
  }

  100% {
    transform: translateY(0px);
  }
}

.showHello {
  animation: show 1s;
  animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
